@media screen and (width: 700px){
  header .containter {
    display: flex;
    flex-direction: column;
  }

  .button {
    margin-top: 5px;
    width: 190px;
    height: 60px;
  }
}

@media screen and (min-width: 1000px) {
  .description {
    width: 50%;
  }
}